<html>
<head>
	<title>{{ site.title }}</title>
	{% include styles.html %}
</head>
<body>
	{% include header-box.html %}
	<div id="main-box">
		<div id="side-box">
			<div id="side-menu-box" class="round-corners">
				<h1 id="side-menu-title" class="side-box-title">Categories</h1>
				<ul id="side-menu" class="side-box-list">
					{% for c in site.categories %}
						<li><a href="#">{{ c.first }} ({{ c.last.size }})</a></li>
					{% endfor %}
				</ul>
			</div>
			<div id="archive-box" class="round-corners">
				<h1 id="archive-title" class="side-box-title">Archive</h1>
				<ul id="archive-list" class="side-box-list">
				{% for p in site.posts %}
					<li><a href="#">{{ p.title }} - {{ p.date | date_to_string }}</a></li>
				{% endfor %}
				</ul>
			</div>
		</div>

		<div id="recent-posts-box">
		{% for p in site.posts limit:3 %}
			<div class="post-container round-corners">
				<h1>{{ p.title }}</h1>
				{{ p.content }}
			</div>
		{% endfor %}
		</div>
	</div>
</body>
</html>